.file-list {
    font-family: Helvetica, sans-serif;
    color:#333;
    margin-top:10px;
    border:1px solid #ccc;
    
    
    border-collapse:collapse;
}


.file-list div{
    border-top:1px solid #ccc;
}


.file-name {
    padding:4px;
    
}

.file-name i{
    margin-right:20px;
}

.file-icon {
    width:17px;
    padding-left:4px;
}
.fa-folder {
    color: #508FCA;
}

.commit-message {
    padding-left:10px;
    overflow:hidden;
}

.age{
    
    text-align:right;
    padding-right:4px;
}